$color-placeholder: #272733;

.input {
	width: 95%;
	height: 48px;
	padding: 0 10px;
	font-size: 18px;
	border-radius: 4px;
	border: none;
	opacity: 85%;
	cursor: pointer;

	&::placeholder {
		color: $color-placeholder;
		font-size: 18px;
	}

	@media screen and (min-width: 1024px) {
		width: 354px;
	}
}
