$color-placeholder: #272733;
$focusButton: #3E9CDC;

.form {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: 26px 0;

	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr) 8.5rem;
		gap: 26px;
	}

	&__select {
		width: 100%;
		height: 48px;
		padding: 0 10px;
		grid-column: 1/span1;
		border-radius: 4px;
		font-size: 18px;
		opacity: 85%;
		color: $color-placeholder;
		cursor: pointer;
		appearance: none;
		background-image: url('../../assets/images/selectionIcon.svg');
		background-repeat: no-repeat;
		background-position: right 3% bottom 50%;

		@media screen and (min-width: 1024px) {
			width: 373px;
			grid-column: auto;
		}
	}

	&__progress-block {
		grid-column: 1/span1;
		align-self: self-end;
		font-size: 17px;
		line-height: 1.6;

		@media screen and (min-width: 1024px) {
			grid-column: span 2;
		}
	}

	&__progress-text {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		color: white;

		@media screen and (min-width: 1024px) {
			font-size: inherit;
		}
	}

	&__progress-percent {
		margin-right: 8px;
	}

	&__progress {
		width: 100%;
		opacity: 70%;

		@media screen and (min-width: 1024px) {
			width: 48rem;
		}
	}

	&__upload-file {
		display: none;
	}

	&__label-upload-file {
		grid-column: 1/span1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 48px;
		cursor: pointer;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 15px;
		background-color: white;

		@media screen and (min-width: 1024px) {
			width: 370px;
			grid-column: auto;
		}

		&:hover {
			background-color: $focusButton;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__label-img {
		margin-right: 10px;
	}

	&__label-text {
		color: $color-placeholder;
	}

	&__info-text {
		color: white;
		font-size: 15px;
	}

	&__input {
		grid-column: 1/span1;

		@media screen and (min-width: 1024px) {
			grid-column: auto;
		}
	}
}
