$footer-bg: #272733;
$blue-color: #3E9CDC;
$second-title: #BBBBBB;

.processing {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5.5rem;
	background-image: url('../../assets/images/footer-bg.svg');
	background-color: $footer-bg;
	background-size: cover;

	&__title {
		padding-top: 5.5rem;
		color: white;
		font-size: 36px;

		&_blue {
			color: $blue-color;
		}
	}

	&__title-second {
		margin-bottom: 5rem;
		color: $second-title;
		font-size: 18px;
	}

	&__steps {
		display: flex;
		margin-bottom: 5rem;
		padding-left: 3rem;

		.last-item {
			display: none;
		}
	}

	&__steps-description {
		margin-bottom: 6rem;
		color: white;
	}

	&__steps-text {
		margin-left: 2rem;
	}

	&__button {
		margin-top: 24px;
		width: 370px;
		height: 48px;
		font-size: 15px;
		background-color: $blue-color;
		color: white;
		border: 1px solid white;
		border-radius: 4px;
		cursor: pointer;
	}
}
