$footer-bg: #272733;
$blue-color: #3E9CDC;
$second-title: #BBBBBB;

.processing {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5.5rem;
	background-image: url('../../assets/images/footer-bg.svg');
	background-color: $footer-bg;
	background-size: cover;

	&__title {
		padding-top: 3rem;
		color: white;
		font-size: 24px;

		&_blue {
			color: $blue-color;
		}

		@media screen and (min-width: 1024px) {
			padding-top: 5.5rem;
			font-size: 36px;
		}
	}

	&__title-second {
		margin-bottom: 2rem;
		text-align: center;
		color: $second-title;
		font-size: 14px;

		@media screen and (min-width: 1024px) {
			margin-bottom: 5rem;
			text-align: start;
			font-size: 18px;
		}
	}

	&__steps {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
		padding-left: 3rem;

		@media screen and (min-width: 1024px) {
			flex-direction: row;
		}

		.last-item {
			display: none;
		}
	}

	&__steps-description {
		margin-bottom: 6rem;
		color: white;
	}

	&__steps-text {
		margin-left: 2rem;
	}

	&__button {
		margin-top: 24px;
		padding: 14px 120px;
		font-size: 15px;
		background-color: $blue-color;
		color: white;
		border: 1px solid white;
		border-radius: 4px;
		cursor: pointer;

		@media screen and (min-width: 1024px) {
			width: 370px;
			height: 48px;
		}
	}
}
