$background-black: #10101DE5;
$blue-color: #3E9CDC;

@font-face {
	font-family: 'Raleway';
	// todo сделать алиас
	src: url('../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	height: 100px;
	z-index: 2;
	background-color: $background-black;
	opacity: 90%;

	&__logo {
		padding: 10px;
		color: white;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		font-weight: 800;

		@media screen and (min-width: 1024px) {
			padding: 34px 0 34px 46px;
			font-size: 28px;
		}

		&_blue {
			color: $blue-color;
		}
	}
}
