$blue-color: #3E9CDC;

.step-icon {
	position: relative;
	display: grid;
	grid-template-columns: 30px 100px 110px;
	grid-template-rows: auto 60px;

	&__image {
		position: relative;
	}

	&__icon {
		position: absolute;
		top: 25%;
		right: 25%;
	}

	&__dots {
		display: flex;
		align-items: center;

	}

	&__dot {
		position: relative;
		padding: 0 13px;

		&::after {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			background-color: white;
			border-radius: 50%;
		}
	}

	&__text {
		margin-top: 18px;
		grid-column: span 3;
		align-self: start;
		width: 185px;
		color: white;
	}
}
