$footer-bg: #3D4050;
$footer-item: #C3C3C3;

.footer-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	align-items: center;
	background-color: $footer-bg;
}

.footer {
	grid-column: 2/span 8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;

	&__verticle-line {
		height: 18px;
		border-left: 1px solid $footer-item;
		margin: 0 2.5rem;
	}

	&__author {
		position: relative;
		padding-right: 14px;
		color: white;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-right: 2.5rem;
		color: $footer-item;

		&:last-child {
			margin-right: 0;
		}
	}

	&__item-img {
		margin-right: 10px;
	}

	&__link {
		display: flex;
		margin-right: 2.5rem;
		color: $footer-item;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			color: white;
			text-decoration: underline;
		}
	}
}
