

@font-face {
	font-family: 'Lato';
	// src: url('../../assets/fonts/Lato/Lato-Regular.ttf');
	src: url('../src/assets/fonts/Lato/Lato-Regular.ttf');
	font-style: normal;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 80px;
	font-family: 'Lato', sans-serif;
}

// .top-block {
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	grid-template-rows: 100px 1fr;
// 	background: url('../src/assets/images/main-bg.jpg') no-repeat;
// }
