@font-face {
	font-family: 'Lato';
	src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
	font-style: normal;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 80px;
	font-family: 'Lato', sans-serif;
}

.top-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	background: url('../src/assets/images/main-bg.jpg') no-repeat;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

